@font-face {
    font-family: Stellar;
    src:
    url("/fonts/Stellar-Regular.otf");
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #434343;
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
}

button {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow: 0 0 20px white;
    padding: 1em 2em;
    color: #cfe2f3;
    background-color: rgba(67, 67, 67, 0.50);
}

button.big {
    font-size: 3em;
    letter-spacing: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px;
}

button.cancel {
    background-color: rgba(74, 29, 34, 0.75);
    color: #ff6b73;
    -webkit-box-shadow: 10px 10px 10px red;
    -moz-box-shadow: 10px 10px 10px red;
    box-shadow: 0 0 20px red;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;

    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
}

.prog {
    border-bottom: 1px solid white;
}
.prog ul {
    list-style-type: none;
    color: grey;
}
.prog ul li {
    display: inline;
}
.prog ul li:not(:last-child)::after {
    content: " - ";
    color: grey;
}
.prog ul li.active {
    color: white;
}

.nav {
    width: 100px;
    height: 100%;
    position:fixed;

    color: #cfe2f3;

    -webkit-box-shadow: 0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow: 0 0 20px white;

    font-size: 1.5em;
    top: 0;

    display: table;
}
.nav.next {
    right: 0;
}
.nav.prev {
    left: 0;
}
.nav div {
    display: table-cell;
    vertical-align: middle;
}

.pulsate {
    -webkit-animation: pulsate 1s ease-in-out infinite alternate;
    -moz-animation: pulsate 1s ease-in-out infinite alternate;
    animation: pulsate 1s ease-in-out infinite alternate;

}
@-webkit-keyframes pulsate {
    from {
        text-shadow: 0 0 10px;
        -webkit-box-shadow: 0 0 20px white;
        -moz-box-shadow: 0 0 20px white;
        box-shadow: 0 0 20px white;
        background-color: rgba(67, 67, 67, 0.50);
    }
    to {
        text-shadow: 0 0 20px;
        -webkit-box-shadow: 0 0 40px white;
        -moz-box-shadow: 0 0 40px white;
        box-shadow: 0 0 40px white;
        background-color: rgba(106, 106, 106, 0.5);
    }
}
@-moz-keyframes pulsate {
    from {
        text-shadow: 0 0 10px;
        -webkit-box-shadow: 0 0 20px white;
        -moz-box-shadow: 0 0 20px white;
        box-shadow: 0 0 20px white;
        background-color: rgba(67, 67, 67, 0.50);
    }
    to {
        text-shadow: 0 0 20px;
        -webkit-box-shadow: 0 0 40px white;
        -moz-box-shadow: 0 0 40px white;
        box-shadow: 0 0 40px white;
        background-color: rgba(106, 106, 106, 0.5);
    }
}
@keyframes pulsate {
    from {
        text-shadow: 0 0 10px;
        -webkit-box-shadow: 0 0 20px white;
        -moz-box-shadow: 0 0 20px white;
        box-shadow: 0 0 20px white;
        background-color: rgba(67, 67, 67, 0.50);
    }
    to {
        text-shadow: 0 0 20px;
        -webkit-box-shadow: 0 0 40px white;
        -moz-box-shadow: 0 0 40px white;
        box-shadow: 0 0 40px white;
        background-color: rgba(106, 106, 106, 0.5);
    }
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    padding: 8px 12px;
    line-height: 30px;
}

.typeahead {
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    box-shadow: 0 0 20px white;
    color: #cfe2f3;
    background-color: rgba(67, 67, 67, 0.50);

    text-align: center;
    font-size: 1.5em;
    outline: none;
}


.tt-query {

}

.tt-hint {
    visibility: hidden;
}

.tt-menu {
    width: 422px;
    margin: 1em 0;
    padding: 8px 0;
    background-color: rgba(67, 67, 67, 0.75);
    border: 1px solid white;
    overflow-y: auto;
    max-height: 12em;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: rgba(106, 106, 106, 0.5);
}

.tt-suggestion.tt-cursor {
    background-color: rgba(106, 106, 106, 0.5);
}

.tt-suggestion p {
    margin: 0;
}

::-webkit-input-placeholder {
    color: #cfe2f3;
}

:-moz-placeholder { /* Firefox 18- */
    color: #cfe2f3;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #cfe2f3;
}

:-ms-input-placeholder {
    color: #cfe2f3;
}